In [1]:
# Creé un dataframe con la Comunidad Autónoma 
# Obtenía error al leer el archivo por eso uso encoding 'latin-1'
import pandas as pd
ccaa = pd.read_csv('data/comunidades.csv', encoding='latin-1', sep=";")
ccaa

                Opponent           Comunidad
0      Albacete Balompie  Castilla La Mancha
1   Panathinaikos Athens              Atenas
2       Racing Santander           Cantabria
3        Athletic Bilbao          País Vasco
4       Deportivo Alaves          País Vasco
..                   ...                 ...
93          ESTAC Troyes              Troyes
94            Angers SCO              Angers
95       Montpellier HSC         Montpellier
96           FC Toulouse            Toulouse
97   Olympique Marseille            Marsella

[98 rows x 2 columns]

In [2]:
# Montpellier y Montpellier HSC son el mismo club
ccaa['Opponent'].replace("Montpellier", "Montpellier HSC", inplace=True)
ccaa['Opponent'].nunique()

97

In [3]:
ccaa['Comunidad'] = ccaa['Comunidad'].replace('Valencia', 'C. Valenciana')

In [4]:
#ccaa.to_csv('comunidades_limpio.csv', index = False)