In [1]:
'''
Añado los últimos goles a nivel club, marcados con el Inter de Miami, para hacer un análisis estadístico general de
el rendimiento goleador de Messi.
'''

'\nAñado los últimos goles a nivel club, marcados con el Inter de Miami, para hacer un análisis estadístico general de\nel rendimiento goleador de Messi.\n'

In [2]:
import pandas as pd
df_con_ccaa = pd.read_csv('data/messi_goles_con_caa.csv')
df_con_ccaa.head()

,Season,Competition,Matchday,Date,Venue,Club,Opponent,Result,Playing_Position,Minute,At_score,Type,Goal_assist,Comunidad
0,04/05,LaLiga,34,05-01/05,H,FC Barcelona,Albacete Balompie,2:00,CF,90+1,2:00,Left-footed shot,Ronaldinho Gaacho,Castilla La Mancha
1,05/06,UEFA Champions League,Group Stage,11-02/05,H,FC Barcelona,Panathinaikos Athens,5:00,RW,34,3:00,Left-footed shot,NaN,Atenas
2,10/11,UEFA Champions League,Group Stage,9/14/10,H,FC Barcelona,Panathinaikos Athens,5:01,CF,22,1:01,Left-footed shot,Xavi,Atenas
3,10/11,UEFA Champions League,Group Stage,9/14/10,H,FC Barcelona,Panathinaikos Athens,5:01,CF,45,3:01,Left-footed shot,Pedro,Atenas
4,10/11,UEFA Champions League,Group Stage,11/24/10,A,FC Barcelona,Panathinaikos Athens,0:03,CF,63,0:02,Left-footed shot,Adriano,Atenas

In [3]:
#Las Columnas 'Matchday' y 'Playing_Position' no van a ser parte del análisis.
df_con_ccaa.drop(['Matchday', 'Playing_Position'], axis=1, inplace=True)
df_con_ccaa.head()

,Season,Competition,Date,Venue,Club,Opponent,Result,Minute,At_score,Type,Goal_assist,Comunidad
0,04/05,LaLiga,05-01/05,H,FC Barcelona,Albacete Balompie,2:00,90+1,2:00,Left-footed shot,Ronaldinho Gaacho,Castilla La Mancha
1,05/06,UEFA Champions League,11-02/05,H,FC Barcelona,Panathinaikos Athens,5:00,34,3:00,Left-footed shot,NaN,Atenas
2,10/11,UEFA Champions League,9/14/10,H,FC Barcelona,Panathinaikos Athens,5:01,22,1:01,Left-footed shot,Xavi,Atenas
3,10/11,UEFA Champions League,9/14/10,H,FC Barcelona,Panathinaikos Athens,5:01,45,3:01,Left-footed shot,Pedro,Atenas
4,10/11,UEFA Champions League,11/24/10,A,FC Barcelona,Panathinaikos Athens,0:03,63,0:02,Left-footed shot,Adriano,Atenas

In [4]:
goles_inter_miami = pd.read_csv('data/goles_inter_miami.csv', sep=';')
goles_inter_miami.head()

,Season,Competition,Date,Venue,Club,Opponent,Result,Minute,At_score,Type,Goal_assist,Comunidad
0,22/23,Mayor League Soccer,26/08/2023,A,Inter Miami,New York Red Bulls,0-2,89,0-2,Left-footed shot,Benja Cremaschi,New York
1,22/23,Leagues Cup,20/08/2023,A,Inter Miami,Nashville SC,0-1,23,0-1,Left-footed shot,NaN,Tennessee
2,22/23,Leagues Cup,15/08/2023,A,Inter Miami,Philadelphia Union,0-2,20,0-2,Left-footed shot,Josef Martínez,Pensilvania
3,22/23,Leagues Cup,11/08/2023,H,Inter Miami,Charlotte,4-0,86,4-0,Left-footed shot,Leonardo Campana,Carolina del Norte
4,22/23,Leagues Cup,06/08/2023,A,Inter Miami,FC Dallas,4-4,85,4-4,Left-footed shot,NaN,Texas

In [5]:
# Arreglo los datos de las distintas columnas para que coincidan
# Primero la columna 'Date' en df_con_ccaa
df_con_ccaa['Date'] = pd.to_datetime(df_con_ccaa['Date'])
print("Tipo de dato Date:", df_con_ccaa['Date'].dtype)
df_con_ccaa['Date'] = df_con_ccaa['Date'].dt.strftime('%d-%m-%Y')
df_con_ccaa.head()

Tipo de dato Date: datetime64[ns]

C:\Users\matia\AppData\Local\Temp\ipykernel_46692\2734327328.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_con_ccaa['Date'] = pd.to_datetime(df_con_ccaa['Date'])

,Season,Competition,Date,Venue,Club,Opponent,Result,Minute,At_score,Type,Goal_assist,Comunidad
0,04/05,LaLiga,01-05-2005,H,FC Barcelona,Albacete Balompie,2:00,90+1,2:00,Left-footed shot,Ronaldinho Gaacho,Castilla La Mancha
1,05/06,UEFA Champions League,02-11-2005,H,FC Barcelona,Panathinaikos Athens,5:00,34,3:00,Left-footed shot,NaN,Atenas
2,10/11,UEFA Champions League,14-09-2010,H,FC Barcelona,Panathinaikos Athens,5:01,22,1:01,Left-footed shot,Xavi,Atenas
3,10/11,UEFA Champions League,14-09-2010,H,FC Barcelona,Panathinaikos Athens,5:01,45,3:01,Left-footed shot,Pedro,Atenas
4,10/11,UEFA Champions League,24-11-2010,A,FC Barcelona,Panathinaikos Athens,0:03,63,0:02,Left-footed shot,Adriano,Atenas

In [6]:
# Ahora en goles_inter_miami
goles_inter_miami['Date'] = pd.to_datetime(goles_inter_miami['Date'])
print("Tipo de dato Date:", goles_inter_miami['Date'].dtype)
goles_inter_miami['Date'] = goles_inter_miami['Date'].dt.strftime('%d-%m-%Y')
goles_inter_miami.head()

Tipo de dato Date: datetime64[ns]

C:\Users\matia\AppData\Local\Temp\ipykernel_46692\3408383581.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  goles_inter_miami['Date'] = pd.to_datetime(goles_inter_miami['Date'])

,Season,Competition,Date,Venue,Club,Opponent,Result,Minute,At_score,Type,Goal_assist,Comunidad
0,22/23,Mayor League Soccer,26-08-2023,A,Inter Miami,New York Red Bulls,0-2,89,0-2,Left-footed shot,Benja Cremaschi,New York
1,22/23,Leagues Cup,20-08-2023,A,Inter Miami,Nashville SC,0-1,23,0-1,Left-footed shot,NaN,Tennessee
2,22/23,Leagues Cup,15-08-2023,A,Inter Miami,Philadelphia Union,0-2,20,0-2,Left-footed shot,Josef Martínez,Pensilvania
3,22/23,Leagues Cup,11-08-2023,H,Inter Miami,Charlotte,4-0,86,4-0,Left-footed shot,Leonardo Campana,Carolina del Norte
4,22/23,Leagues Cup,06-08-2023,A,Inter Miami,FC Dallas,4-4,85,4-4,Left-footed shot,NaN,Texas

In [7]:
# Ahora la columna 'Result'
df_con_ccaa['Result'] = df_con_ccaa['Result'].str.replace(":", "-")
df_con_ccaa.head()

,Season,Competition,Date,Venue,Club,Opponent,Result,Minute,At_score,Type,Goal_assist,Comunidad
0,04/05,LaLiga,01-05-2005,H,FC Barcelona,Albacete Balompie,2-00,90+1,2:00,Left-footed shot,Ronaldinho Gaacho,Castilla La Mancha
1,05/06,UEFA Champions League,02-11-2005,H,FC Barcelona,Panathinaikos Athens,5-00,34,3:00,Left-footed shot,NaN,Atenas
2,10/11,UEFA Champions League,14-09-2010,H,FC Barcelona,Panathinaikos Athens,5-01,22,1:01,Left-footed shot,Xavi,Atenas
3,10/11,UEFA Champions League,14-09-2010,H,FC Barcelona,Panathinaikos Athens,5-01,45,3:01,Left-footed shot,Pedro,Atenas
4,10/11,UEFA Champions League,24-11-2010,A,FC Barcelona,Panathinaikos Athens,0-03,63,0:02,Left-footed shot,Adriano,Atenas

In [8]:
# Hay valores AET que quiero eliminar
df_con_ccaa['Result'].unique()

array(['2-00', '5-00', '5-01', '0-03', '4-01', '1-01', '1-02', '1-04',
       '3-00', '0-02', '2-01', '2-02', '2-05', '1-03', '6-00', '3-01',
       '2-03', '0-04', '0-06', '0-05', '4-02', '2-04', '5-02', '6-01',
       '4-00', '6-02', '3-04', '8-00', '7-00', '7-01', '3-02', '5-4 AET',
       '3-03', '2-06', '4-05', '0-08', '0-01', '4-03', '1-00', '1-05',
       '1-06', '1-2 AET', '4-04', '0-07', '5-03', '8-02', '4-2', '1-07',
       '4-3', '7-2', '2-1', '1-1', '0-3', '2-0', '1-3'], dtype=object)

In [9]:
df_con_ccaa['Result'] = df_con_ccaa['Result'].str.replace("AET", "")

In [10]:
# Además voy a separar cada valor en columnas distintas y convertirlas en un entero.
df_con_ccaa['Score home'] = df_con_ccaa['Result'].str.split('-').str[0].astype(int)
df_con_ccaa['Score visitant'] = df_con_ccaa['Result'].str.split('-').str[1].astype(int)
df_con_ccaa.drop(['Result'], axis=1, inplace=True)
df_con_ccaa.head()

,Season,Competition,Date,Venue,Club,Opponent,Minute,At_score,Type,Goal_assist,Comunidad,Score home,Score visitant
0,04/05,LaLiga,01-05-2005,H,FC Barcelona,Albacete Balompie,90+1,2:00,Left-footed shot,Ronaldinho Gaacho,Castilla La Mancha,2,0
1,05/06,UEFA Champions League,02-11-2005,H,FC Barcelona,Panathinaikos Athens,34,3:00,Left-footed shot,NaN,Atenas,5,0
2,10/11,UEFA Champions League,14-09-2010,H,FC Barcelona,Panathinaikos Athens,22,1:01,Left-footed shot,Xavi,Atenas,5,1
3,10/11,UEFA Champions League,14-09-2010,H,FC Barcelona,Panathinaikos Athens,45,3:01,Left-footed shot,Pedro,Atenas,5,1
4,10/11,UEFA Champions League,24-11-2010,A,FC Barcelona,Panathinaikos Athens,63,0:02,Left-footed shot,Adriano,Atenas,0,3

In [11]:
# Quiero que At_score tenga formato, 2-0, 3-1, etc.
df_con_ccaa['At_score'] = df_con_ccaa['At_score'].str.replace(":", "-")

In [12]:
df_con_ccaa.head()

,Season,Competition,Date,Venue,Club,Opponent,Minute,At_score,Type,Goal_assist,Comunidad,Score home,Score visitant
0,04/05,LaLiga,01-05-2005,H,FC Barcelona,Albacete Balompie,90+1,2-00,Left-footed shot,Ronaldinho Gaacho,Castilla La Mancha,2,0
1,05/06,UEFA Champions League,02-11-2005,H,FC Barcelona,Panathinaikos Athens,34,3-00,Left-footed shot,NaN,Atenas,5,0
2,10/11,UEFA Champions League,14-09-2010,H,FC Barcelona,Panathinaikos Athens,22,1-01,Left-footed shot,Xavi,Atenas,5,1
3,10/11,UEFA Champions League,14-09-2010,H,FC Barcelona,Panathinaikos Athens,45,3-01,Left-footed shot,Pedro,Atenas,5,1
4,10/11,UEFA Champions League,24-11-2010,A,FC Barcelona,Panathinaikos Athens,63,0-02,Left-footed shot,Adriano,Atenas,0,3

In [13]:
goles_inter_miami['Result'].unique()

array(['0-2', '0-1', '4-0', '4-4', '3-1', '1-0', '2-0', '1-2'],
      dtype=object)

In [14]:
# Ahora en goles_inter_miami
goles_inter_miami['Score home'] = goles_inter_miami['Result'].str.split('-').str[0].astype(int)
goles_inter_miami['Score visitant'] = goles_inter_miami['Result'].str.split('-').str[1].astype(int)
goles_inter_miami.drop(['Result'], axis=1, inplace=True)
goles_inter_miami.head()

,Season,Competition,Date,Venue,Club,Opponent,Minute,At_score,Type,Goal_assist,Comunidad,Score home,Score visitant
0,22/23,Mayor League Soccer,26-08-2023,A,Inter Miami,New York Red Bulls,89,0-2,Left-footed shot,Benja Cremaschi,New York,0,2
1,22/23,Leagues Cup,20-08-2023,A,Inter Miami,Nashville SC,23,0-1,Left-footed shot,NaN,Tennessee,0,1
2,22/23,Leagues Cup,15-08-2023,A,Inter Miami,Philadelphia Union,20,0-2,Left-footed shot,Josef Martínez,Pensilvania,0,2
3,22/23,Leagues Cup,11-08-2023,H,Inter Miami,Charlotte,86,4-0,Left-footed shot,Leonardo Campana,Carolina del Norte,4,0
4,22/23,Leagues Cup,06-08-2023,A,Inter Miami,FC Dallas,85,4-4,Left-footed shot,NaN,Texas,4,4

In [15]:
# Agrego los goles de Inter de Miami al total de goles.
goles_europa_eeuu = pd.concat([df_con_ccaa, goles_inter_miami], axis = 0).reset_index(drop=True)
goles_europa_eeuu

,Season,Competition,Date,Venue,Club,Opponent,Minute,At_score,Type,Goal_assist,Comunidad,Score home,Score visitant
0,04/05,LaLiga,01-05-2005,H,FC Barcelona,Albacete Balompie,90+1,2-00,Left-footed shot,Ronaldinho Gaacho,Castilla La Mancha,2,0
1,05/06,UEFA Champions League,02-11-2005,H,FC Barcelona,Panathinaikos Athens,34,3-00,Left-footed shot,NaN,Atenas,5,0
2,10/11,UEFA Champions League,14-09-2010,H,FC Barcelona,Panathinaikos Athens,22,1-01,Left-footed shot,Xavi,Atenas,5,1
3,10/11,UEFA Champions League,14-09-2010,H,FC Barcelona,Panathinaikos Athens,45,3-01,Left-footed shot,Pedro,Atenas,5,1
4,10/11,UEFA Champions League,24-11-2010,A,FC Barcelona,Panathinaikos Athens,63,0-02,Left-footed shot,Adriano,Atenas,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
709,22/23,Leagues Cup,02-08-2023,H,Inter Miami,Orlando City,72,3-1,Right-footed shot,Josef Martínez,Florida,3,1
710,22/23,Leagues Cup,02-08-2023,H,Inter Miami,Orlando City,7,1-0,Left-footed shot,Robert Taylor,Florida,1,0
711,22/23,Leagues Cup,25-07-2023,H,Inter Miami,Atlanta United FC,22,2-0,Right-footed shot,Robert Taylor,Georgia,2,0
712,22/23,Leagues Cup,25-07-2023,H,Inter Miami,Atlanta United FC,8,1-0,Right-footed shot,NaN,Georgia,1,0
713,22/23,Leagues Cup,22-07-2023,A,Inter Miami,Cruz Azul,90+4,1-2,Left-footed shot,NaN,Ciudad de México,1,2

In [17]:
#goles_europa_eeuu.to_csv('goles_europa_eeuu.csv', index = False)