# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [ ]:
#Escribe el título del proyecto en Markdown
titulo = "Análisis del rendimiento goleador de Leonel Messi en clubes."

### TEMA

In [2]:
# Describe brevemente el tema del proyecto en Markdown
tema = """
    El objetivo del proyecto es analizar como se ha desarrollado la capacidad goleadora del furbolista Argentino Lionel Messi en los distintos clubes
    donde jugó. El análisis se basará en su desempeño a través del tiempo, en cada torneo disputado, jugando en casa (o fuera de ella), enfrentando a
    equipos de cada Comunidad Autónoma de España y en clásicos. También se comparará a Messi con el resto de goleadores del top 50 histórico en cuánto
    a sus estaturas.
"""

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

In [ ]:
# Escribe tu hipótesis principal en Markdown
hipotesis_1 = """
    El desempeño goleador de Messi es más alto enfrentando a equipos de la Comunidad de Madrid que a cualquier otra Comunidad de España.
"""
hipotesis_2 = """
    El desempeño goleador de Messi baja considerablemente en clásicos (vs Real Madrid y vs Espanyol).
"""
hipotesis_3 = """
    La gran mayoría de goleadores juegan en la delantera, más precisamente como centrodelanteros. Debido a que deben estar en constante
    disputa con los defensores, una contextura física grande puede ser de gran ayuda. En este sentido, Messi es, dentro del top 50 histórico
    de goleadores, el de más baja estatura.
"""

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [14]:
import pandas as pd
# guarda en variables los datasets y su fuente

df_1 = pd.read_csv('messi_goles.csv')
fuente_1 = "https://www.kaggle.com/datasets/azminetoushikwasi/-lionel-messi-all-club-goals"

df_2 = pd.read_csv('goles_inter_miami.csv', sep=';')
fuente_2 = "https://www.transfermarkt.es/lionel-messi/leistungsdaten/spieler/28003"

df_3 = pd.read_csv('goleadores.csv')
fuente_3 = "Web scrapping de https://www.neogol.com/maximos-goleadores-de-la-historia-del-futbol/ y Wikipedia "

df_4 = pd.read_csv('goles_mas_partidos.csv', encoding='latin-1', sep=";")
fuente_4 = "https://es.wikipedia.org/wiki/Anexo:Estad%C3%ADsticas_de_Lionel_Messi#cite_note-67"

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [7]:
# Primer dataset
df_1.head()

,Season,Competition,Matchday,Date,Venue,Club,Opponent,Result,Playing_Position,Minute,At_score,Type,Goal_assist
0,04/05,LaLiga,34,05-01/05,H,FC Barcelona,Albacete Balompie,2:00,CF,90+1,2:00,Left-footed shot,Ronaldinho Gaacho
1,05/06,UEFA Champions League,Group Stage,11-02/05,H,FC Barcelona,Panathinaikos Athens,5:00,RW,34,3:00,Left-footed shot,NaN
2,05/06,LaLiga,13,11/27/05,H,FC Barcelona,Racing Santander,4:01,RW,51,2:00,Left-footed shot,Samuel Etoo
3,05/06,LaLiga,19,1/15/06,H,FC Barcelona,Athletic Bilbao,2:01,RW,50,2:01,Left-footed shot,Mark van Bommel
4,05/06,LaLiga,20,1/22/06,H,FC Barcelona,Deportivo Alaves,2:00,CF,82,2:00,Left-footed shot,Ronaldinho Gaacho

In [10]:
# Siguiente dataset
df_2.head()

,Season,Competition,Date,Venue,Club,Opponent,Result,Minute,At_score,Type,Goal_assist,Comunidad
0,22/23,Mayor League Soccer,26/08/2023,A,Inter Miami,New York Red Bulls,0-2,89,0-2,Left-footed shot,Benja Cremaschi,New York
1,22/23,Leagues Cup,20/08/2023,A,Inter Miami,Nashville SC,0-1,23,0-1,Left-footed shot,NaN,Tennessee
2,22/23,Leagues Cup,15/08/2023,A,Inter Miami,Philadelphia Union,0-2,20,0-2,Left-footed shot,Josef Martínez,Pensilvania
3,22/23,Leagues Cup,11/08/2023,H,Inter Miami,Charlotte,4-0,86,4-0,Left-footed shot,Leonardo Campana,Carolina del Norte
4,22/23,Leagues Cup,06/08/2023,A,Inter Miami,FC Dallas,4-4,85,4-4,Left-footed shot,NaN,Texas

In [11]:
# Siguiente dataset
df_3.head()

             Jugador  Goles  Partidos  Promedio Altura
0  Cristiano Ronaldo    859      1187      0.72   1,87
1       Lionel Messi    819      1042      0.79   1,70
2        Josef Bican    805       530      1.52    NaN
3               Pelé    765       812      0.94   1,73
4            Romário    753       963      0.78   1,67

In [15]:
# Siguiente dataset
df_4.head()

                  Equipos       Goles    Partidos
0                AC Milan    8 (8 CL)    8 (8 CL)
1  Club Atletico de Ceuta   1 (1 CdR)   1 (1 CdR)
2                 AS Roma    2 (2 CL)      4 (CL)
3              AC Ajaccio  1 (1 Liga)  1 (1 Liga)
4          Ajax Amsterdam    6 (6 CL)    3 (3 CL)